<div <div class="col-sm-offset-4 col-sm-4" ng-controller="SignupCtrl">


	
	<div class="row mt30">
	<div  class="col-sm-offset-4 col-sm-4"><img src="img/gc_logo.png" alt="" width="180px" class="mb-30">	</div>
</div>
	

	
			<div class="loginPage-alert alert alert-danger" role="alert" ng-if="signupFail">
				<strong>Error en el registro </strong> 
				<span ng-bind="failMsg"></span>
			</div>


			<form  class="signupform-form" role="form" name="signupform" novalidate ng-submit=" submit( signupform ) ">

				<fieldset>


					<div class="form-group">				
						<label for="username">Username</label>
						<input type="text" id="username" name="username" class="form-control input-lg" placeholder="e-mail address" required ng-model="credentials.email">
						<p class="help-block empty-height-holder"></p>
					</div>

					<div class="form-group">				
						<label for="password">Password</label>
						<input type="password" id="password" name="password" class="form-control input-lg" required ng-model="credentials.password">
						<p class="help-block empty-height-holder"></p>
					</div>


					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox" value=""  ng-model="rememberMe" />
								Recordarme
							</label>

						</div>
					</div>


					<hr>

					<div class="form-group">
						<div class="pull-right">
							<button type="submit" class="btn btn-primary"> Finalizar registro </button>
						</div>

						<a href="#/account/login" class="pull-left">Ya estoy registrado</a>

					</div>

				</fieldset>

			</form>

	
</div>


