<div class="col-md-12 " >

	<script type="text/ng-template" id="nodes_renderer.html">
		<div ui-tree-handle class="tree-node tree-node-content">
			
		<div class="pull-left mr-10">
			<span class="glyphicon glyphicon-th" ></span>
		</div>

			<a class="btn btn-success btn-xs" ng-if="step.tree && step.tree.length > 0"  ng-click="toggle(this)"><span
				class="glyphicon"
				ng-class="{
					'glyphicon-chevron-right': collapsed,
					'glyphicon-chevron-down': !collapsed
				}"></span></a>
				
				<span ng-if="step.content" ng-bind="step.content" ng-click="doEditStepcontent( $event, step )" data-nodrag style="max-width: 70%;" class="ellipsis">
				</span>

				<span style="color: lightgray" ng-if="!step.content" ng-click="doEditStepcontent( $event, step )">Un paso de mi idea</span>
				
				<a class="pull-right btn btn-danger btn-xs " data-nodrag ng-click="remove(this)"><span
					class="glyphicon glyphicon-remove"></span></a>

					
					<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
						class="glyphicon glyphicon-plus"></span></a>  
						
					</div>



					<ul ui-tree-nodes="" ng-model="step.tree" ng-class="{hidden: collapsed}">
						<li ng-repeat="step in step.tree" ui-tree-node ng-include="'nodes_renderer.html'">
						</li>
					</ul>
				</script>


				<div ui-tree class="idea-tree" > <!-- data-drag-enabled="false"  -->
					<ul ui-tree-nodes="" ng-model="ideas" id="tree-root"  style="padding-left: 0px"  >

						<li ng-repeat="idea in ideas track by $index" ui-tree-node style="padding-left: 0px">
							<!-- <div ui-tree-handle data-nodrag> 
								

							</div>  -->
							<ul ui-tree-nodes="" ng-model="idea.tree" style="padding-left: 0px">
								<li ng-repeat="step in idea.tree " ui-tree-node ng-include="'nodes_renderer.html'">
								</li>
							</ul>
						</li>
					</ul>
				</div>


				<div class="idea-addstep-wrapper">
					<div class="idea-addstep-box">
						<!-- <textarea name="new-step" placeholder="Escriba un nuevo step">
							
						</textarea> -->

					

						<form class="newstepform" role="form" name="newstepform" novalidate ng-submit=" addStep( newstepform ) ">
							<input type="text" id="newideacontent" name="newideacontent" ng-model="newIdea.content" autocomplete="false" focus-me="newIdea.getTarget " placeholder="Escribir un paso de mi idea">
						</form>

					</div>

				</div>

			</div>
